node_modules
dist
dist-*
bundle
build/

*.js
*.d.ts
*.map
!src/**

.env*
*.env
.DS_Store
*.pem
*.key
*.log
*.sqlite
*.db

temp
old/
.claude/
.idea/
.playwright-mcp
screenshot-*.png
/*.png

core/src/schema/generated/
core/src/schema/_import-fixtures/schemas
*.tgz
